.cartItem {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cartItem {
    height: calc(100vh - 100px);
    overflow-y: auto;

}


.cartItem::-webkit-scrollbar {
    width: 5px;

}

/* Track */
.cartItem::-webkit-scrollbar-track {
    background: white;
    display: none;
}

/* Handle */
.cartItem::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    display: none;
}

/* Handle on hover */
.cartItem::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
}

.cartItem-container {
    /* width: 100%; */
    /* height: fit-content; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.cartItem-container>a>img {
    width: 250px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.cartItem-container>img:hover {
    transform: translateY(-10px);
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.1);
}

.qtyContainer {
    display: flex;
    width: 250px;
    height: 30px;
    justify-content: space-between;
}
.qtyContainer > p{
    display: flex;
    gap: 15px;
}
.qtyContainer > p>select{
    height: 30px;
}

.qtyContainer>button {
    border: 1px solid grey;
    width: 30px;
    margin: 0 3px;
    background-color: rgba(214, 150, 32, 0.664);
}

.cartCalculator {
    display: flex;
    /* width: 100%; */
    padding: 0 20px;
    border-top: 1px solid grey;
    justify-content: space-between;
    align-items: center;
}

.cartCalculator>button {
    border: 1px solid grey;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0 3px;
    background-color: rgba(214, 150, 32, 0.664);
    transition: all 0.3s;
}

.cartCalculator>button:hover {
    transform: translateX(-10px);
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.1);
}

.cartCalculator>button:active {
    transform: translateX(-10px);
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.1);
}

.orderModal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.603);
   left: 0;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.orderPayment{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    /* gap: 30px; */
    padding: 0 5px;
  border: 1px solid black;
  background-color: rgb(210, 194, 194);
    align-items: center;
    width: 320px;
    height: 400px;

}

.orderPayment > small {
    color: rgb(27, 21, 21);
}
.orderPayment > img {
   border: 1px solid black;
   width: 200px;
   height: 200px;
}
.orderPayment > button {
    background-color: brown;
    color: white;
    outline: none;
    border: 1px solid black;
}
.orderPayment > button:active {
    
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .cartCalculator {
        display: flex;
        padding: 0 5px;
        border-top: 1px solid grey;
        justify-content: space-between;
        align-items: center;
    }

    .cartItem-container {
        flex-direction: column; 
        margin: 20px 0;
    }
    .cartItem-container>a>img {
        width: 200px;
        height: 200px;
        border: 1px solid grey;
        border-radius: 5px;
        transition: all 0.3s;
        cursor: pointer;
    }

    .qtyContainer {
        display: flex;
        width: 180px;
        justify-content: space-between;
    }
    
    .qtyContainer>button {
        border: 1px solid grey;
        width: 40px;
        margin: 0 5px;
        background-color: rgba(214, 150, 32, 0.664);
    }
}