.profile{
    width: 100%;
    height: 80vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile> div>button{
    outline: none;
    border: 1px solid black;
    background-color: rgb(240, 52, 52);
    color: white;
}
.profile> div>button:hover{

   opacity: 0.8;
   color: black;
}
.profile> div>button:active{

   opacity: 0.8;
   color: black;
}

.profile >div{
    /* border: 1px solid black; */
    width: fit-content;
    padding: 10px;
}
.profile_1{
    width: 100%;
    /* height: 80vh; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_1> div>button{
    outline: none;
    border: 1px solid black;
    background-color: rgb(240, 52, 52);
    color: white;
}
.profile_1> div>button:hover{

   opacity: 0.8;
   color: black;
}
.profile_1> div>button:active{

   opacity: 0.8;
   color: black;
}

.profile_1 >div{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    padding: 10px;
}